body{
   margin:3% 20%;
    background-image:linear-gradient(to right, blue, violet);
}


#bodycolor{
    background-color: white;
    padding-bottom: 30px;
}


table{
    width:90%;
    margin:7% 10% 0% 10% ;
}


h1{
    text-align: center;
    background-color:black;
    color:white;
    padding:16px
}


.input{
    padding:16px;
    background-color:aliceblue ;
    border-radius: 10px;
    border-style:hidden;
    width: 60%;
}


label{
    color:darkseagreen;
}


#regButton{
    background-color: red;
    color:white;
    width:25%;
    padding: 16px;
    border-radius: 10px;
    border-style: hidden;
}


#lastitems{
    margin-left:10%;
}


.input1{
    padding:16px;
    background-color:aliceblue ;
    border-radius: 10px;
    border-style:hidden;
    width: 70%;
}


#areacode{
    width:30%;
}

