body {
    margin: 3% 16%;
    background-color:black;
    font-family: Arial;
    font-size: 16px;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 40px;
    border-color: powderblue;
    line-height: 2.0;
    text-align: center;

    /*background-image:linear-gradient(to right, yellow,red);*/
    /*background-image:"<img src=C:\Users\welcome\Downloads\bird.jpg" alt="W3Schools.com" width="1000" height="1000">;*/
}

h1 {
    /*padding: 10px;*/
    background-color: powderblue;
    text-align: center;

}


table{
    /*border-collapse:collapse;*/
    /*border: 1px black;*/
    margin-left: 45px;
    width:85%;
    text-align: left;
    /*background-color:white ;*/
    /*vertical-align: top;*/
    /*border-width: 20px;*/

}
#c{
    background-color:white;
}

select{
    height: 30px;
}
.a{
    text-align:right;
    width:50%;

}
input{
    border-color: black;
}
#colspan{

    text-align: center;

}
.b{
    vertical-align: top;
    text-align:right;
}
td{
    border:3px solid white;
    line-height: 25px;
}
